.layout {

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__content {

        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

}